@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scroll-behavior: smooth;
}
@layer utilities {
    .container {
        @apply flex flex-col justify-center items-center w-full px-4 md:px-4 lg:px-32;
    }
    .section-title {
        @apply text-xl md:text-5xl font-serif font-bold mt-20;
    }
    .section-description {
        @apply text-sm md:text-lg text-justify md:text-center my-4 md:my-10;
    }
}
