@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scroll-behavior: smooth;
}
@layer utilities {
    .container {
        @apply flex flex-col justify-center items-center w-full px-4 md:px-4 lg:px-32;
    }
}
